img {
  max-width: 100%;
}
.gallery {
  padding: 80px 0;
}
.mainlogo {
  position: absolute;
  height: 10rem;
  width: 10rem;
  margin: 1rem;
}
.mainlogo img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.gallery div div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery img {
  width: 900px;
  height: 600px;
  object-fit: cover;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  filter: brightness(1.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}
#gallery-modal .modal-img {
  width: 100%;
}
.h1 {
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #d86262);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
